<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% seo %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% for item in site.navigation %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  
  <main>
    {{ content }}
  </main>
  
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    <p>
      <a href="https://www.linkedin.com/in/williamjohnowens" target="_blank" class="footer-link">LinkedIn</a> |
      <a href="https://github.com/williamjowens" target="_blank" class="footer-link">GitHub</a>
    </p>
  </footer>
</body>
</html>